/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[3].use[0]!./src/components/Header.vue?vue&type=style&index=0&id=61dd7a3d&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************/

#header {
        background-color: aqua;
        padding:10px;
}

/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[3].use[0]!./src/components/Sidebar.vue?vue&type=style&index=0&id=7d622f5c&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************/

ul#menu{
    list-style: none;
    font-size:22px;
}

